*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}



@font-face {
    font-family: dig7;
    src: url(./Assets/digital-7.ttf);
}

@font-face {
    font-family: osiris;
    src: url(./Assets/Osiris.otf);
}

body{
    display: flex;
    justify-content: center;
    padding: 1em ;
    max-height: 99vh;
    background: url(./Assets/backgroun.jpg);
    z-index: -99;
    position: sticky;
}

#calculator{
    width: 20em;
    min-height: 35rem;
    max-height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 1em;
    background-image: linear-gradient(180deg,#000000 30%, #0000009f, #000000ea);
    z-index: -2;

}

#screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 11rem;
    font-family: dig7;
    border-radius: 1rem;
}

#video{
    position: absolute;
    width: 20rem;
    z-index: -1;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    margin: 1.5rem 0;
}

button{
    color: rgb(71, 157, 231);
    height: 3.5rem;
    width : 3.7rem;
    border-radius: 1em;
    font-family: osiris;
    font-size: 1.3rem;
    background: linear-gradient(109.6deg, #242d39 11.2%, #10253c 51.2%, #000000 98.6%);
    position: relative;
    box-shadow: none;
    user-select: none;
}

button:hover{
    cursor: pointer;

}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

button::after, button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(transparent, #0077ff);
    top: 50%;
    left: 50%;
    z-index: -3;
    translate: -50% -50%;
    padding: 3px;
    border-radius: 1em;
}

.button::before{
    filter: blur(1.5rem);
    padding: 2px;
}

button:hover::after{
    background: conic-gradient(from var(--angle),black, #0077ff);
    cursor: pointer;
    animation: spin 2s ease infinite;
}

@keyframes spin{
    0%{
        --angle: 0deg;
    }

    100%{
        --angle: 360deg;
    }
}

.operator{
    background: radial-gradient(circle at 1.8% 4.8%, #11173a 0%, #3a5594 90%);
}

.equal{
    grid-column: span 2;
    height: 4rem;
    width: 100%;
    background: linear-gradient(118.4deg, #b41938 27.5%, #3e091b 92.7%);
}


#input-disp , #result-disp{
    color: rgb(183, 219, 250);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    height: 40%;
    font-family: dig7;
    font-size: 2em;
    padding: .2em;
    border: none;
    background-color: #f0f8ff05;
    overflow-x: hidden;

}

#result-disp{
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 85%;
    transition: all 0.4s ease;
    text-align: right;
}

#input-disp{
      letter-spacing: .07rem;
      transition: all 0.4s ease ;
}

.brand{
    width: 6rem;
    height: 2rem;
    background-image: linear-gradient(120deg, #3a559428 ,transparent);
    border-radius: .5rem;
    margin: .5rem;
}

.brand img{
    width: 100%;
    height: 100%;
}